body {
    margin: 0px;
    font-family: 'Fira Sans';
    color: #141414;

}

p, h1, h2, h3 {
    margin: 0px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
    max-width: 100%;
}