.introducao {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    align-items: center;

}

.introducao h1 {
    font-size: 4.5rem;
    line-height: 1.125;
    margin-bottom: 30px;
    position: relative;
}

.introducao h1::before {
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    background: url(../img/detalhe.svg) no-repeat center;
    position: absolute;
    top: -15px;
    left: -40px;
    z-index: -1; /* isso deixa o detalhe/elemento atrás */
}

.introducao p {
    font-size: 1.5rem;
    color: #525252;
}

/* Quando chega a 1000px o tamanho da fonte diminui pra 3rem */
@media (max-width: 1000px){
    .introducao h1 {
        font-size: 3rem;
    }
}
/* 800px fonte vai pra 2rem a introdução ocupa 1fr e 1fr, o gap é diminuido e é ajustado o pseudo-elemento que na verdade é um background em svg */
@media (max-width: 800px) {
    .introducao {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    .introducao h1 {
        font-size: 2rem;
    }
    .introducao h1::before {
        width: 30px;
        height: 10px;
        left: 0px;
    }
}

@media (max-width: 400px) {
    .introducao{
        grid-template-columns: 1fr;
    }
    .introducao img {
        display: none;
    }
}